* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

body {
    margin-left: 40px;
    margin-top: 40px;
}

.request-button {
    background-color: black;
    color: #fff;
    padding: 10px 15px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 7px;
    font-weight: 700;
}

.schedule-button {
    background-color: rgb(230, 230, 230);
    border: none;
    padding: 10px 15px;
    border-radius: 7px;
    color: black;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    margin-left: 20px;
    
}
