body {
    margin-left: 40px;
    margin-top: 40px;
    font-family: Arial;

}

.button {
    color: black;
    background-color: rgb(240, 240, 240);
    padding: 10px 15px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;

}

.button-active {
    color: #fff;
    background-color: black;
    
}